<style>
  .number {
    border-radius: 100%;
    background-color: var(--secondary-color);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    font-size: 24px;
    font-weight: 600;
  }

  .item {
    width: 80%;
    margin: 20px auto;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>
<div class="item"><div class="number"><%= index %></div></div>
