<style>
  section {
    display: flex;
    flex-direction: column;
    width: 80vw;
    overflow: auto;
    background-color: var(--light-color);
    padding: 5vh 0px;
  }

  @media screen and (max-width: 768px) {
    section {
      width: 100vw;
      height: 100%;
    }
  }
</style>
<section id="section"></section>
